<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-HaroldPeñaranda</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <header>      
        <nav>
            <a class="home" href="../templates/home.html">Home</a></li>
            <a class="about" href="">About me</a></li>
            <a class="contacts" href="">Contacts</a></li>
            <a href="../templates/register.html" class="record">Record</a></li>
            <a href="../templates/login.html" class="login">Login</a></li>
        </nav>
        <div class="container textos">
            <span class="bienvenido">Bienvenido a mi</span>
            <h1>Página <span class="web">Web</span>
            </h1><br>
            <p>La cúal quiero que trate sobre un portafolio en el cúal puedas montar 
                imagenes de las increibles cosas que puedes hacer o haz creado, para 
                depues copiar el link y se lo mandes a quien tu quieras, y pueda ver lo
                que eres capaz de hacer.
            </p><br>
            <p> Proximamente...</p>
        </div>

        <div class="curva" style="height: 125px; overflow: hidden;"><svg viewBox="0 0 300 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg>
        </div>
    </header>

    <main>
        
    </main>

    <footer>
        <p>
            - &copy; 2022 -
        </p>
        <p>
            - Harold Peñaranda Peralta -
        </p>
    </footer>
</body>
</html>